
body {
    font-family: Arial, sans-serif;
    background-color: #9ccbd3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.element {
    width: 200px;
    height: 100px;
    background-color: #0dd821;
    color: #93ecb5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(2, 77, 24, 0.968);
    transition: transform 0.3s ease;
}

.scale {
    transform: scale(2);
}

.rotate {
    transform: rotate(-45deg);
}

.translate {
    transform: translate(100px, 50px);
}

.skew {
    transform: skew(20deg, 30deg);
}
